/** Importing font files: Google Fonts **/
@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:wght@400;500;600;700;800;900;1000&display=swap");

/** Typography config for tailwindcss **/
@theme {
    --font-sans: "Inclusive Sans", sans-serif;

    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
}

body {
    @apply font-sans text-base;
}

strong {
    @apply font-medium;
}